<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <p>Old Todo: <b><%= todos.todo %></b></p>
    
       
        <span>New Todo: </span>
        <input type="text" name='todoValue' id='todoValue'>
        <button id="updateTodo" data-id='<%=todos._id%>'>Submit</button>


    <script src="/js/main.js"></script>
</body>
</html>